<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364920461545-aufh78qsljplhsb9t1jrtdl7uvmcuc51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364920461545-aufh78qsljplhsb9t1jrtdl7uvmcuc51</string>
	<key>API_KEY</key>
	<string>AIzaSyBXLNLNfZYyS48PHrHI8TISM7NgfQTwJPk</string>
	<key>GCM_SENDER_ID</key>
	<string>364920461545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookingHotel</string>
	<key>PROJECT_ID</key>
	<string>booking-2b92b</string>
	<key>STORAGE_BUCKET</key>
	<string>booking-2b92b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364920461545:ios:1cedda426ac90b0ca4b878</string>
</dict>
</plist>